<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td>
      <strong>Title:</strong>
      <%= @article.title %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Content:</strong>
      <%= @article.description %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Image url:</strong>
      <%= @article.image_url %>
    </td>
  </tr>

</table>

<%= link_to 'Edit', edit_article_path(@article), :class => "show" %> |
<%= link_to 'Back', articles_path, :class => "back" %>
